
h3{
  font-family: 'Staatliches', cursive;
  border-left: solid 4px #086ecd;
  letter-spacing: 1px;
  letter-spacing: 1px;

  font-size: 50px;
}
h2{
  font-family: 'Staatliches', cursive;
  border-left: solid 4px #086ecd;
  letter-spacing: 1px;
  letter-spacing: 1px;
  color:  #00cefc ;

  font-size: 30px;
}
body{
  background-size: cover;
}
#a{
  font-size: 40px;
}
jaja{
  color:  #ff9516 ;
}
img{
  width: 30%;
  margin-left: 500px;
  border-radius: 2000px;
}
#isi{
margin-left:  700px;
}
p{
    font-family: 'Staatliches', cursive;
}
#final{
  text-align: center;
  color:  #ff9516 ;
  font-size: 30px;

}
#alf{
margin-left:  600px;
}
#final2{
  text-align: center;
  color:  #ff9516 ;
  font-size: 30px;
