html{
  background-color:  #ff9516;

}
h3{
  text-align: center;
  font-size: 40px;
  font-family: 'Staatliches', cursive;
  color:   #fafafa ;

}
body{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  background-color:  #c4c4c3;

}
a{
  text-align: center;
  font-family: 'Staatliches', cursive;
  color: #1a79fa ;
  margin-left: 600px;
}
#we{
  background-color: #1a79fa;
  margin-left: 600px;
  width: 150px;
  height: 60px;
}
