#aver{
height: 100px;
width: 100px;
position: fixed;
right: 20px;
bottom: 20px;
border-radius: 180px;
border: 1px solid white;
}

h2{
  text-align: center;
  font-family: 'Staatliches', cursive;
  font-size: 100px;
  background-color:  #e0893d ;
  margin-bottom: 0px;
}
#uno{
  font-family: 'Staatliches', cursive;
  font-size: 40px;
  margin-top: 0px;
  background-color: #bbbbbb;
}
h3{
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px;
  border-left: 6px solid red;
}
.tres{
  font-family: 'Staatliches', cursive;
  font-size: 40px;
  color:  black ;
  text-align: center;
  height: 50px;
  width: 250px;
  border-left-color: #95989a;
  border-left-style: solid;
  border-left-width: 10px;
  margin-bottom: 0px;
}
a{
  font-family: 'Staatliches', cursive;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: #bbbbbb ;
  position: fixed;
  margin-left: 550px;



}
.cinco{
  font-family: 'Staatliches', cursive;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color:  #f7f8fb ;


}
.seis{
  font-family: 'Staatliches', cursive;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color:  #f7f8fb ;


}
.siete{
  font-family: 'Staatliches', cursive;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color:  #f7f8fb ;


}
body{
  background-image: url("../imagenes/newton.jpeg");
  background-size: 100%;
}
