h1{
    background-color:  #e99042;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    margin-left: 0;
    margin-right: 0;
    height: 100px;
    letter-spacing: 3px;
    font-size: 70px;
    color:  #d8d6d5;
    margin-bottom: 0;

}
h2{
  font-family: 'Staatliches', cursive;
  border-left: solid 4px #086ecd;
  letter-spacing: 1px;
  letter-spacing: 1px;
}
h3{
  font-family: 'Staatliches', cursive;
  border-left: solid 4px #086ecd;
  letter-spacing: 1px;
  letter-spacing: 1px;
}
p{
  font-family: 'PT Sans', sans-serif;
  margin-left: 40px;
}

#a{
  margin-top: 0;
  background-color:  #d8d6d5;
  color:  #086ecd;
  height: 30px;
  font-size: 25px;
  letter-spacing: 1px;

}
#dos{
  background-color:  #d8d6d5;
  color:  #086ecd;
  height: 30px;
  font-size: 25px;
  letter-spacing: 1px;
}
#aver{
height: 100px;
width: 100px;
position: fixed;
right: 20px;
bottom: 20px;
border-radius: 180px;
border: 1px solid white;
}
#tres{
  background-color:  #d8d6d5;
  color:  #086ecd;
  height: 30px;
  font-size: 25px;
  letter-spacing: 1px;
  text-align: center;
  width: 500px;
  border-right: solid 4px #086ecd;
}
a{
  color:  #086ecd;
  height: 30px;
  font-size: 25px;
  letter-spacing: 1px;
  text-align: center;
  width: 700px;
  
}
#es{
  {
    font-family: 'Staatliches', cursive;
    border-left: solid 4px #086ecd;
    letter-spacing: 1px;
    letter-spacing: 1px;
    color: #086ecd;
}
