a{

  color:  #086ecd;
  height: 30px;
  font-size: 25px;
  letter-spacing: 1px;
  text-align: center;
  width: 700px;

}

#img1{
display: block;
margin: auto;
}
body{

}
h2{
  background-color:  #aeb6bf;
  text-align: center;
  height: 40px;
  color: white;
  font-size: 30px;
  margin-bottom: 0;
  font-family: 'Staatliches', cursive;

}
h1{
  margin-top: 0;
  background-color: #e99042;
  font-family: 'Staatliches', cursive;
  height: 100px;
  font-size: 90px;
  text-align: center;
}
#uno{
   font-family: 'Roboto Condensed', sans-serif;
   text-align: center;
   font-size: 30px;
   margin-bottom: 0;
   margin-top: 0;
   animation-duration: 3s;
  animation-name: slidein;

}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#dos{
   font-family: 'Roboto Condensed', sans-serif;
   text-align: center;
   font-size: 30px;
   margin-bottom: 0;
   margin-top: 0;
   animation-duration: 3s;
  animation-name: slidein;
  animation-delay: 1s;

}
#tres{
   font-family: 'Roboto Condensed', sans-serif;
   text-align: center;
   font-size: 30px;
   margin-bottom: 0;
   margin-top: 0;
   animation-duration: 3s;
  animation-name: slidein;
  animation-delay: 2s;


}
#cuatro{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    animation-duration: 3s;
   animation-name: slidein;
   animation-delay: 4s;
   animation-play-state: running
}
#aver{
  height: 100px;
  width: 100px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 180px;
  border: 1px solid white;

}
#cinco{
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 0;
  animation-duration: 3s;
 animation-name: slidein;
 animation-delay: 3s;
}
